<div class="jumbotron">
    <h1 class="title">Kerkerfun</h1>
    <p class="slogan">一個專為設計產品打造的媒合平台。
    <br>
        只要你有點子，你就是雇主。
    </p>
    <p class="button"><a class="btn btn-lg btn-danger" href="/jobs">馬上媒合</a></p>
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">發揮你百分百的創意基因</h2>
                <p class="lead">我們要發掘充滿創意的你，使你的創意充分發揮。</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">擁有一身技術，卻沒有好點子嗎？</h2>
                <p class="lead">我們正在找尋擁有技術的你，讓你盡情的展現所長。</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">現在馬上試試</h2>
                <p class="lead">你可以宣布你的點子，讓其他人想參與的人進行投遞。<br>
                    你也可以投遞你的專長，等待適合的團隊找到你。
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
<br>
<!--======== 热门职位 =========-->
<section id="genius" class="our-experts">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="section-title">你是哪一類？</h2>
                        <div class="short-line"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 category-list">
                            <%= link_to jobs_path(:category => "设计") , class: "category_3" do %>
                                <div class="expert-box">
                                    <%= image_tag("3D.png") %>
                                </div>
                                <div>
                                    <h3>設計</h3>
                                    <p>Design</p>
                                </div>
                            <% end %>
                        </div>
                        <div class="col-md-3 category-list">
                            <%= link_to jobs_path(:category => "技术") , class: "category_1" do %>
                                <div class="expert-box">
                                    <%= image_tag("Angle Thingy.png") %>
                                </div>
                                <div>
                                    <h3>工程</h3>
                                    <p>Engineering</p>
                                </div>
                            <% end %>
                        </div>
                        <div class="col-md-3 category-list">
                            <%= link_to jobs_path(:category => "运营") , class: "category_4" do %>
                                <div class="expert-box">
                                    <%= image_tag("Hand.png") %>
                                </div>
                                <div>
                                    <h3>製造</h3>
                                    <p>Manufacturing</p>
                                </div>
                            <% end %>
                        </div>
                        <div class="col-md-3 category-list">
                            <%= link_to jobs_path(:category => "产品") , class: "category_2" do %>
                                <div class="expert-box">
                                    <%= image_tag("Camera.png") %>
                                </div>
                                <div>
                                    <h3>行銷</h3>
                                    <p>Marketing</p>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<br>
<br>
<!--======== end 热门职位 =========-->
<br>
<br>
<div class="col-md-12">
    <div class="row box">
        <div class="box-inner col-md-6 col-md-offset-3">
        </p>
        <p class="lead">
            <br>
            <br>
            <br>
            <br>
            <p class="button"><a class="btn btn-lg btn-danger" href="/jobs">開始</a></p>
        </p>
    </div>
</div>
</div>
